* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 250px 1fr 200px;
    margin: 1rem;

}

nav .logo {
    display: inline-block;
}

nav img.logo {
    width: 200px;
}

nav .main-nav {
    padding: 1rem;
}

nav .main-nav ul {
    list-style: none;
}

nav .main-nav ul li {
    display: inline-block;
}

nav .main-nav ul li a {
    text-decoration: none;
    color: rgb(56, 55, 55);
    font-weight: bold;
    margin-right: 1rem;
}

nav .sign-in {
    display: inline-block;
}

nav button {
    border: #006aff solid 1px;
    padding: 0.75rem 1rem;
    background-color: white;
    color: #006aff;
    border-radius: 5px;
    font-weight: bolder;
}

section.hero {
    display: grid;
    grid-template-columns: 1fr 600px;
    background-image: url("https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_06_hd_pictures_169782.jpg");
}

section.hero .title {
    margin: 8rem;
}

section.hero .title h2,h3 {
    color: white;
}

section.hero .title h2 {
   font-size: 4rem; 
   font-weight: bold;
   margin-bottom: 2rem;
}

section.hero .title h3 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 0.15rem;
}

section.hero form {
    width: 400px;
    height: 450px;
    background-color: white;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
}

section.hero form legend {
    color: #031b4e;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
}
section.hero form p {
    margin-left: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section.hero form #email, #password {
    font-size: 1rem;
    padding-left: 0.5;
    width: 325px;
    height: 40px;
    border: lightgrey solid 1px;
    border-radius: 5px;
}

section.hero form #email::placeholder {
    color: rgba(3,27,78,.7);
    font-weight: 400;
    padding-left: 1rem;
}

section.hero form #password::placeholder {
    color: rgba(3,27,78,.7);
    font-weight: 400;
    padding-left: 1rem;
}

section.hero form button.form-button {
    display: block;
    width: 325px;
    height: 40px;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
}

section.hero form button.create {
    color: white;
    background-color: #15cd72;
    border: none;
}

section.hero form button.create:hover {
    background-color: #68ad7b;
}


section.hero form button.google {
    background-color: white;
    color: grey;
    border: solid 1px lightgray;
    align-items: center;
    box-shadow: lightgray 1px 1px;
    text-align: center;
    position: relative;
}

section.hero form button.google:hover {
    background-color: lightgray;
}

section.hero form button.google img.google-icon {
    width: 20px;
    position: absolute;
    left: 10px;
}
section.hero form p.t-c {
    font-size: 0.75rem;
    margin-left: 5rem;
    color: rgba(3,27,78,.7);
}

section.trust h3.trust {
    color: gray;
    padding-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

section.trust div.logos {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    margin-left: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    place-items: center;
}

section.trust img.logos {
    width: 100px;
    
}

section.trust p {
    text-align: center;

}

section.trust p a {
    color: #0069ff;
    text-decoration: none;
    padding-bottom: 3rem;
}

section.trust p svg {
    width: 20px;
    padding-bottom: 3rem;
}

section.deploy h2 {
    margin-top: 3rem;
    text-align: center;
    color: #031b4e;
    font-size: 2.5rem;
}

section.deploy p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
    margin: 2rem 8rem;
    color: rgba(3,27,78,.7);
    font-weight: 300;
}

section.deploy div.deploy {
    display: grid;
    grid-template-columns: 600px 1fr;
    padding-top: 2rem;
}

section.deploy ul {
    margin-left: 20rem;
    margin-top: 2rem;
}

section.deploy ul li {
    list-style: none;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

section.deploy ul li a {
    color: rgba(3,27,78,.7);
    text-decoration: none;
}

section.deploy ul li a:hover {
    color: rgba(3,27,78,7);
}

section.deploy ul li a:active {
    color: #031b4e;
}

section.deploy .list-grid {
    display: grid;
    grid-template: "kubernetes compute" 250px
                    "marketplace global" 250px/
                    250px 250px;
    grid-gap: 1rem;
    
}

section.deploy .list-grid h3 {
    color: #031b4e;
    font-weight: 700;
    margin-top: 1rem;
}

section.deploy .list-grid p {
    font-size: 1rem;
    margin: 0;
    text-align: left;
    margin-top: 1rem;
    color:rgba(3,27,78,.7);
    line-height: 1.5rem;
}

section.deploy .list-grid .kubernetes {
    grid-area: kubernetes;
}

section.deploy .list-grid .compute {
    grid-area: compute;
}

section.deploy .list-grid .marketplace {
    grid-area: marketplace;
}

section.deploy .list-grid .global {
    grid-area: global;
}

section.designed {
    background-color: whitesmoke;
}

section.designed h2 {
    color:rgba(3,27,78,7);
    text-align: center;
    padding-top: 4rem;
    font-size: 2.6rem;
}

section.designed p {
    color:rgba(3,27,78,.7);
    margin: 4rem 15rem;
    text-align: center;
    font-size: 1.5rem;
}

section.designed .wrapper {
    display: flex;
    justify-content: center;
}

section.designed img {
    width: 800px;
}




